body{
    text-align: center;
    vertical-align: center;
}
.table{
    text-align: center;
    vertical-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    alignment: center;
    margin-inside: 1%;
}